<mat-toolbar class="custom-toolbar">
  <mat-icon style="color: #666">forum</mat-icon> <span style="color: #666; margin-left: 10px">Sala | {{this.infoSala.descrPergunta}}</span>
</mat-toolbar>
<div class="container-fluid main-section">
  <div class="row">
    <div class="col-12 right-sidebar">
      <div class="row">
        <div class="col-md-12 right-header-contentChat" [style.height]="innerHeight + 'px'">
          <ul>
            <li>
              <div [class]="idUsuarioAtual === chat.autorInfo.id ? 'rightside-right-chat' : 'rightside-left-chat'"
                   *ngFor="let chat of respostasOrganizadas"
              >
                <span>
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  {{idUsuarioAtual === chat.autorInfo.id ? 'Você' : (chat.autorInfo.nome + ' ' + chat.autorInfo.sobrenome)}}
                  <span *ngIf="chat.autorInfo.papel === 'professor'"> - </span>
                  <strong *ngIf="chat.autorInfo.papel === 'professor'" style="color: #4e9fff">Professor ☑</strong>
                  <small>
                    {{
                      chat.horarioResposta.slice(11, 16) + " " +
                      chat.horarioResposta.slice(8, 10) + "/" +
                      chat.horarioResposta.slice(5, 7) + "/" +
                      chat.horarioResposta.slice(0, 4)
                    }}
                  </small>
                </span>
                <br><br>
                <p>
                  {{chat.texto}}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 right-chat-textbox">
          <input placeholder="Escreva uma mensagem..." type="text" [formControl]="resposta">
          <a (click)="publicarReposta()">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
