<div class="container">

  <div class="component-title">
    <div class="row">
      <button mat-mini-fab style="margin: 0 0 30px 10px" class="back-btn-general" matTooltip="Voltar" routerLink=".." color="primary"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="row">
      <div class="col-12 title-sec">
        <mat-icon>chat</mat-icon>
        <h1 class="">&nbsp;Chats</h1>
      </div>
    </div>
  </div>




  <div class="row dashboard-course-cards">
    <div style="cursor: pointer" class="col-md-4" *ngFor="let card of chatsCards" routerLink="./secao">
      <div class="card mb-3">
        <img class="card-img-top course-card-img" [src]="card.img" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{card.title}}</h5>
        </div>
      </div>
    </div>

  </div>

</div>
