<div class="container">

  <div class="component-title">
    <div class="row">
      <button mat-mini-fab style="margin: 0 0 30px 10px" class="back-btn-general" matTooltip="Voltar" routerLink=".." color="primary"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="row">
      <div class="col-12 title-sec">
        <mat-icon>forum</mat-icon>
        <h1 class="">&nbsp;Salas</h1>
      </div>
    </div>
  </div>




  <div class="row dashboard-course-cards">
    <div class="col-12">
      <h3>Para continuar escolha um tema</h3>
    </div>
    <div style="cursor: pointer" class="col-md-4" *ngFor="let card of temasSelecionados; let i = index" routerLink="./secao" [queryParams]="{tema: card.id}">
      <div class="card mb-3">
        <img class="card-img-top course-card-img" [src]="'../../../assets/img/forum/' + (i + 1) + '.jpg'" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{card.nome}}</h5>
          <small>Proposto por: {{card.nomeProponente}}</small>
        </div>
      </div>
    </div>

  </div>

</div>
