<div class="container">

  <div class="component-title">
    <div class="row">
      <button mat-mini-fab style="margin: 0 0 30px 10px" class="back-btn-general" matTooltip="Voltar" routerLink=".." color="primary"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="row">
      <div class="col-12 title-sec">
        <mat-icon>forum</mat-icon>
        <h1 class="">&nbsp;Discussão:  Qual a diferença entre algortimos polinomiais e recussivos?</h1>
      </div>
    </div>

    <!--<div class="row">
      <div class="col-12 d-flex flex-row-reverse align-items-center btn-table-page">
        <button style="margin-left: 10px" (click)="openAddDialog()" mat-fab matTooltip="Cadastrar" color="primary"><mat-icon>add_user</mat-icon></button>
        <button [disabled]="0" mat-mini-fab color="primary" matTooltip="Exportar para planilha"><mat-icon>grid_on</mat-icon></button>
        <button [disabled]="0" mat-mini-fab color="primary" matTooltip="Exportar para PDF"><mat-icon>picture_as_pdf</mat-icon></button>
        <button [disabled]="0" mat-mini-fab color="primary" matTooltip="Imprimir"><mat-icon>print</mat-icon></button>
      </div>
    </div>-->
  </div>


  <div class="row page-area">


    <div class="col-12">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="card">
            <h4 class="card-header">Resposta 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae tempor elit. Etiam id velit id dui luctus rhoncus. Praesent facilisis turpis vel mi aliquet, hendrerit laoreet elit ullamcorper. Suspendisse sed aliquam ante. Donec at congue libero, scelerisque volutpat turpis. Nunc in dui eget risus pharetra hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc et nulla sit amet risus bibendum lobortis. Ut at libero tempor, rutrum lectus vitae, feugiat erat. Sed nec rutrum ex. Duis ipsum eros, ultricies nec nibh sit amet, accumsan aliquam felis. Suspendisse non massa nec ante pulvinar porttitor. Nam maximus massa id quam ullamcorper dictum eget eu nisl.</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae tempor elit. Etiam id velit id dui luctus rhoncus. Praesent facilisis turpis vel mi aliquet, hendrerit laoreet elit ullamcorper. Suspendisse sed aliquam ante. Donec at congue libero, scelerisque volutpat turpis. Nunc in dui eget risus pharetra hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc et nulla sit amet risus bibendum lobortis. Ut at libero tempor, rutrum lectus vitae, feugiat erat. Sed nec rutrum ex. Duis ipsum eros, ultricies nec nibh sit amet, accumsan aliquam felis. Suspendisse non massa nec ante pulvinar porttitor. Nam maximus massa id quam ullamcorper dictum eget eu nisl.</small>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae tempor elit. Etiam id velit id dui luctus rhoncus. Praesent facilisis turpis vel mi aliquet, hendrerit laoreet elit ullamcorper. Suspendisse sed aliquam ante. Donec at congue libero, scelerisque volutpat turpis. Nunc in dui eget risus pharetra hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc et nulla sit amet risus bibendum lobortis. Ut at libero tempor, rutrum lectus vitae, feugiat erat. Sed nec rutrum ex. Duis ipsum eros, ultricies nec nibh sit amet, accumsan aliquam felis. Suspendisse non massa nec ante pulvinar porttitor. Nam maximus massa id quam ullamcorper dictum eget eu nisl.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 100%" align="end">
              <button mat-button color="primary">Comentar resposta</button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <textarea rows="3" placeholder="Digite aqui sua resposta." matInput></textarea>
          </mat-form-field>
          <div style="width: 100%" align="end">
            <button mat-flat-button color="primary">Responder</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
