<!--
<div class="container">

  <div class="component-title">
    <div class="row">
      <button mat-mini-fab style="margin: 0 0 30px 10px" class="back-btn-general" matTooltip="Voltar" routerLink=".." color="primary"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="row">
      <div class="col-12 title-sec">
        <mat-icon>chat</mat-icon>
        <h1 class="">&nbsp;Chat - Tema X</h1>
      </div>
    </div>
  </div>

  div.

</div>
-->


<div class="menu" style="margin-top: -10px">
  <div class="back" routerLink=".."><i class="fa fa-chevron-left"></i> <img src="../../../../assets/img/forum/1.jpg" draggable="false"/></div>
  <div class="name">Tema X</div>
  <div class="last">Última mensagem - 12/05/2018</div>
</div>
<ol class="chat">
  <li class="other">
    <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
    <div class="msg">
      <p>Hola!</p>
      <p>Te vienes a cenar al centro? </p>
      <time>20:17</time>
    </div>
  </li>
  <li class="self">
    <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
    <div class="msg">
      <p>Puff...</p>
      <p>Aún estoy haciendo el contexto de Góngora... </p>
      <p>Mejor otro día</p>
      <time>20:18</time>
    </div>
  </li>
  <li class="other">
    <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
    <div class="msg">
      <p>Qué contexto de Góngora? </p>
      <time>20:18</time>
    </div>
  </li>
  <li class="self">
    <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
    <div class="msg">
      <p>El que mandó Marialu</p>
      <p>Es para mañana...</p>
      <time>20:18</time>
    </div>
  </li>
  <li class="other">
    <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
    <div class="msg">
      <p></p>
      <p>Pásamelo! </p>
      <time>20:18</time>
    </div>
  </li>
  <li class="self">
    <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
    <div class="msg">
      <img src="https://i.imgur.com/QAROObc.jpg" draggable="false"/>
      <time>20:19</time>
    </div>
  </li>
  <li class="other">
    <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
    <div class="msg">
      <p>Gracias! </p>
      <time>20:20</time>
    </div>
  </li>
  <div class="day">Hoy</div>
  <li class="self">
    <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
    <div class="msg">
      <p>Te apetece jugar a Minecraft?</p>
      <time>18:03</time>
    </div>
  </li>
  <li class="other">
    <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
    <div class="msg">
      <p>Venga va, hace ya mucho que no juego...</p>
      <time>18:07</time>
    </div>
  </li>
  <li class="self">
    <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
    <div class="msg">
      <p>Ehh, me crashea el Launcher... </p>
      <time>18:08</time>
    </div>
  </li>
  <li class="other">
    <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
    <div class="msg">
      <time>18:08</time>
    </div>
  </li>
  <li class="self">
    <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
    <div class="msg">
      <p>Es broma</p>
      <p>Ataque Moai!</p>
      <time>18:09</time>
    </div>
  </li>
  <li class="other">
    <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
    <div class="msg">
      <p>Copón</p>
      <p></p>
      <time>18:08</time>
    </div>
  </li>
  <li class="self">
    <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
    <div class="msg">
      <p>Hey there's a new update about this chat UI with more responsive elements! Check it now:</p>
      <p><a href="https://codepen.io/Varo/pen/YPmwpQ" target="parent">Chat UI 2.0</a></p>
      <time>18:09</time>
    </div>
  </li>
</ol>
<input class="textarea" type="text" placeholder="Digite sua mensagem"/><div class="emojis"></div>
