@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-form-field {
  width: 100%;
}

/*Float Card Style*/

.float-card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  background-color: #fff;
  color: #333;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border: 0;
  transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
}

.float-card:not(.card-plain):hover {
  box-shadow: 0 12px 19px -7px rgba(0,0,0,.3);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

/* Tooltip */

.mat-tooltip {
  font-size: 0.8em;
}

button:focus {

}


/* Page settgs */

.page-title {
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 30px;
}

.actions-btn-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.actions-btn-group button ~ button{
  margin-left: 10px;
}



/*PAGE AREA*/

.page-area {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .page-area {
    padding: 10px 20px 20px 20px;
  }
}

.component-title  {
  margin-top: 40px;
  margin-bottom: 20px;

}

.component-title h1{

  font-weight: normal;
  font-size: 2em;
  display: inline-flex;
}

.component-title button {
  float: right;
}

.button-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-group button ~ button {
  margin-left: 6px;
}


