<div class="container">


  <div class="row">
    <div class="col-12">
      <span class="dashboard-setence">Olá!, {{user.getName()}}</span>
    </div>
    <div class="col-12">
      <span class="dashboard-question">O que deseja fazer agora?</span>
    </div>
  </div>

  <div class="row dashboard-question-cards">

    <div class="col-md-3" *ngFor="let card of dashQuestCards">
      <div class="card float-card" [routerLink]="card.router">
        <div class="card-body">
          <mat-icon [style.color]="card.iconColor">{{card.icon}}</mat-icon>
          <span>{{card.description}}</span>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-12">
      <span class="courses-dashboard-title">Seus cursos</span>
    </div>
  </div>

  <div class="row dashboard-course-cards">
    <div class="col-md-4" *ngFor="let card of courseDashboardCards">
      <div class="card mb-3">
        <img class="card-img-top course-card-img" [src]="card.img" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{card.title}}</h5>
          <p class="card-text">Progresso</p>

          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              [style.width.%]="getCoursePercentage(card.lessonsAmount, card.lessonsFinished)"
              [attr.aria-valuenow]="getCoursePercentage(card.lessonsAmount, card.lessonsFinished)"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{getCoursePercentage(card.lessonsAmount, card.lessonsFinished)}}%
            </div>
          </div>

          <p class="card-text text-right"><small class="text-muted">{{card.lessonsFinished}} de {{card.lessonsAmount}}</small></p>
        </div>
      </div>
    </div>

  </div>

</div>
